.footer{
    margin-top: 35px;
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 100;
    bottom: 0;
    width: 100%;
    
}
.footer ul{
    width: 80%;
    margin: 2rem auto;
    display: flex;
    
    justify-content: center;
    flex-wrap: wrap;

}
.footer ul li{
    margin: 0 1rem;
    margin-top: 1rem;
    text-transform: capitalize;
    font-weight: 600;
    list-style: none;

}

.footer ul li a {
    color: grey;
    font-size: 1.2rem;
}
.footer .copyright{
    margin-top: 15px;
    max-width: 100%;
    background-color: #111;
    padding: 15px 15px;
    color: #fff;
    font-size: 1.125rem;
    text-align: center;
    
}
.copyright p{
    cursor: pointer;
    transition: all .6s ease;
}
.copyright:hover p{
    font-size: 1.250rem;
}