/*sm = 600*/
/*md=900*/
/*lg=1200*/
/*xl = 1600*/

@media screen and (min-width: 600px){
    .section-action-btn{
        flex-basis: 40%;
        max-width: 30rem;
        padding: 1.5rem;
        
       
    }

    .section-action-container{
        justify-content: space-evenly;
        gap: 2%;
        
    }
}

@media screen and (min-width: 900px){
    .section-action-container{
        width: 70%;
        
    }
    .footer ul{
        width: 70%;
    }
}


@media screen and (min-width: 1200px){
    .header-nav-btn{
        display: inline-block;

    }

    .header-left{
        padding: 0 2rem;
        margin: 0 3rem;
    }
    .header-right{
        margin: auto 2rem;
    }
    .middle-link{
        display: none;
    }
    .fullscreen-link{
        display: none;
    }

    .section-action-container{
        width: 60%;
    }
    
    .footer ul{
        width: 60%;

    }
    
}


@media screen and (min-width: 1600px){
    .footer ul{
        width: 40%;
    }

    .section-action-container{
        width: 50%;
    }
}